/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* regole main */
main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    margin-top: 20px;
}

.number-title {
    display: none;
    text-align: center;
    margin-top: 20px;
}

/* regole number container */
.number-container {
    display: none;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}   

.box-numbers {
    font-size: 2rem;
}

/* regole bottone */
#play {
    margin: 20px auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px;
    font-size: 1.3rem;
    transition: all 0.3s;
    display: block;
}

#play:hover {
    border: 2px solid yellow;
    background-color: red;
    cursor: pointer;
}

/* regole active */
.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}